html {
    font-family:  Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}

#glcanvas {
	display: block;  /* prevents scrollbar */
	width: 100vw;
	height: 100vh;
}
.canvas-container  {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	background: radial-gradient(ellipse at center, #ffffff 0%, #d8e9f3 100%);
  }
